# Copia este archivo como ".env" y pega tu link de Neon aquí abajo
DATABASE_URL=postgresql://neondb_owner:npg_e9WJxtoKp1Gz@ep-icy-shape-b5e0rz1y-pooler.c-7.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
PORT=3000
